<footer>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h1 class="d-inline-block"><img src="https://i.imgur.com/VtSaB6o.png" alt="Origin portal" class="d-inline-block" />PORTAL</h1>
    </div>
    <div class="col-sm-12 col-md-4 text-right">
      <h4>Students</h4>
      <a href="/signup">Sign Up</a>
      <a href="/auth">Dashboard</a>
      <a href="/auth/profile">Profile</a>
      <a href="/auth/portfolio">Portfolio</a>
    </div>
    <div class="col-sm-12 col-md-4 text-right">
      <h4>Employers</h4>
      <a href="/employer_signup">Sign Up</a>
      <a href="/auth">Dashboard</a>
      <a href="/auth/employerz/profile">Profile</a>
      <a href="/auth/employerz/profile">Job Postings</a>
    </div>
  </div>
  <p class="mt-5">©2018 Origin Code Academy<br />Origin Academy Students</p>
</div>
</footer>