<!DOCTYPE html>
<html lang="en">
  <% const ejs = true; %>
  <% include ../partials/head %>
  <body>
    <div id="dvt">
      <% include ../partials/navigation %>
      <div class="container landing-content">
        <div class="jumbotron d-flex">
          <div class="row align-self-center">
            <div class="col-7 landing-left justify-content-center align-self-center">
              <h1>Dive into the Origin Portal.</h1>
              <br />
              <h4>Connecting kickass bootcamp grads with companies they aren't prepared to work at.</h4>
              <br />
              <a href="/signup"><h4>Get Started</h4></a>
            </div>
            <div class="col-5 align-self-center">
              <img src="https://i.imgur.com/VtSaB6o.png" alt="Origin portal" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>